@import 'tailwindcss';
/* Police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/* General */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f8fa;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    color: #52c9ff;
}

header>nav {
    display: flex;
    gap: 20px;
}

/* Liste des animaux */
h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    padding: 20px;
}

section {
    display: flex;
    gap: 8px;
}

article {
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

article>h3 {
    font-size: 1.5em;
    font-weight: 900;
}

article>p {
    font-size: 0.9em;
}

article>a>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

article>nav {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

article>nav>a {
    color: #52c9ff;
}

a.button:hover {
    background-color: #3fa1d8;
}

/* Page d'un animal */

.card {
    display: flex;
    gap: 20px;
}

.card>img {
    width: 350px;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5em;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}